In [44]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import GenericUnivariateSelect, chi2, r_regression
from scipy.stats import spearmanr

In [45]:
a = np.array([[1, 2, 3, 4, 5, 6], [3, 5, 2, 6, 7, 3]])
b = np.array([4, 3])
print(chi2(a, b))

(array([1.        , 1.28571429, 0.2       , 0.4       , 0.33333333,
       1.        ]), array([0.31731051, 0.25683926, 0.65472085, 0.52708926, 0.56370286,
       0.31731051]))

In [46]:
df = pd.read_csv('/Users/patricknaylor/Desktop/kaggle/kaggle-NOVO/data/variables_4.csv')
target = pd.read_csv('/Users/patricknaylor/Desktop/kaggle/kaggle-NOVO/data/target.csv')
var_arr = np.array(df)[:,1:]
target_arr = np.array(target)[:, 1]

In [47]:
print(var_arr.shape)
print(target_arr.shape)
selection = r_regression(var_arr, target_arr)
features = pd.DataFrame(list(zip(df.columns[1:], selection)), columns=['feature', 'r-score'])
features.set_index('feature')

(28956, 536)
(28956,)

                    r-score
feature
0_tenth_str_match -0.029160
1_tenth_str_match -0.035789
2_tenth_str_match  0.006300
3_tenth_str_match -0.026322
4_tenth_str_match -0.039590
...                     ...
first15           -0.020285
last15            -0.039608
first30            0.001461
last30             0.004781
sim_ratio         -0.158704

[536 rows x 1 columns]

In [48]:
features.sort_values(by='r-score', key=lambda col: col.abs(), ascending=False)

           feature   r-score
520  96-100S_count  0.262101
500   92-96S_count  0.251998
480   88-92S_count  0.245217
460   84-88S_count  0.241028
440   80-84S_count  0.237328
..             ...       ...
525         first1  0.004096
522  96-100W_count  0.002789
533        first30  0.001461
162   24-28W_count -0.000307
38      0-4F_count -0.000286

[536 rows x 2 columns]

In [49]:
cor_columns = list(features[features['r-score'].abs() >.05]['feature'])

In [50]:
selected_data = df[cor_columns]
selected_data.to_csv('/Users/patricknaylor/Desktop/kaggle/kaggle-NOVO/data/selected_vars_5.csv')

In [51]:
with open('/Users/patricknaylor/Desktop/kaggle/kaggle-NOVO/data/col_4.csv', 'w') as f:
    for line in cor_columns:
        f.write(f'{line}\n')