In [62]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import GenericUnivariateSelect, chi2, r_regression
from scipy.stats import spearmanr

In [63]:
a = np.array([[1, 2, 3, 4, 5, 6], [3, 5, 2, 6, 7, 3]])
b = np.array([4, 3])
print(chi2(a, b))

(array([1.        , 1.28571429, 0.2       , 0.4       , 0.33333333,
       1.        ]), array([0.31731051, 0.25683926, 0.65472085, 0.52708926, 0.56370286,
       0.31731051]))

In [64]:
df = pd.read_csv('/Users/patricknaylor/Desktop/kaggle/kaggle-NOVO/data/variables_6.csv')
target = pd.read_csv('/Users/patricknaylor/Desktop/kaggle/kaggle-NOVO/data/target_2.csv')
var_arr = np.array(df)[:,1:]
target_arr = np.array(target)[:, 1]

In [65]:
print(var_arr.shape)
print(target_arr.shape)
selection = r_regression(var_arr, target_arr)
features = pd.DataFrame(list(zip(df.columns[1:], selection)), columns=['feature', 'r-score'])
features.set_index('feature')

(28956, 536)
(28956,)

                    r-score
feature
0_tenth_str_match  0.029160
1_tenth_str_match  0.035789
2_tenth_str_match -0.006300
3_tenth_str_match  0.026322
4_tenth_str_match  0.039590
...                     ...
first15            0.020285
last15             0.039608
first30           -0.001461
last30            -0.004781
sim_ratio          0.158704

[536 rows x 1 columns]

In [66]:
features.sort_values(by='r-score', key=lambda col: col.abs(), ascending=False)

           feature   r-score
520  96-100S_count -0.299551
500   92-96S_count -0.285915
480   88-92S_count -0.274944
460   84-88S_count -0.269114
511  96-100Q_count -0.265014
..             ...       ...
437   80-84M_count  0.000000
40      0-4S_count  0.000000
41      0-4T_count  0.000000
433   80-84H_count  0.000000
143   20-24Y_count  0.000000

[536 rows x 2 columns]

In [67]:
cor_columns = list(features[features['r-score'].abs() >.05]['feature'])

In [73]:
selected_data = df[cor_columns]
selected_data.to_csv('/Users/patricknaylor/Desktop/kaggle/kaggle-NOVO/data/selected_vars_6.csv')
print(np.array(selected_data).shape)
print(len(cor_columns))

(28956, 341)
341

In [69]:
print(selected_data)

       6_tenth_str_match  14_tenth_str_match  15_tenth_str_match  \
0               0.190476            0.285714            0.190476
1               0.210526            0.210526            0.210526
2               0.222222            0.074074            0.074074
3               0.222222            0.222222            0.222222
4               0.151515            0.121212            0.090909
...                  ...                 ...                 ...
28951           0.206897            0.206897            0.137931
28952           0.230769            0.230769            0.461538
28953           0.153846            0.153846            0.153846
28954           0.193548            0.193548            0.129032
28955           0.275862            0.275862            0.137931

       17_tenth_str_match  21_tenth_str_match  22_tenth_str_match  0-4N_count  \
0                0.285714            0.285714            0.380952    0.000000
1                0.210526            0.315789            0.105263   -0.128205
2                0.296296            0.148148            0.074074    0.000000
3                0.111111            0.333333            0.111111    0.000000
4                0.151515            0.121212            0.090909   -0.533016
...                   ...                 ...                 ...         ...
28951            0.206897            0.275862            0.206897    0.000000
28952            0.230769            0.153846            0.230769   -0.359420
28953            0.153846            0.307692            0.153846    0.000000
28954            0.258065            0.129032            0.193548   -0.457002
28955            0.275862            0.137931            0.344828    0.000000

       0-4D_count  0-4E_count  0-4P_count  ...  96-100I_count  96-100L_count  \
0        0.000000    0.000000    0.000000  ...       0.168124       0.362795
1       -0.128205    0.214286   -0.590361  ...       0.252125       0.237435
2        0.000000    0.000000   -0.741822  ...       0.052882      -0.138994
3        0.000000    0.000000    0.000000  ...       0.111484       0.333669
4       -0.735646   -0.372753   -0.595090  ...       0.286306       0.226009
...           ...         ...         ...  ...            ...            ...
28951    0.000000    0.000000    0.000000  ...       0.169754       0.288630
28952   -0.359420   -0.359420    0.000000  ...       0.404066       0.359071
28953    0.000000    0.000000    0.000000  ...       0.179925      -0.317550
28954    0.197021    0.000000    0.000000  ...       0.330574       0.231517
28955   -0.416887   -0.097038   -0.758734  ...       0.360270       0.515474

       96-100K_count  96-100F_count  96-100P_count  96-100S_count  \
0          -0.405807      -0.085469      -0.148977      -0.355685
1          -0.220748      -0.366460      -0.442623      -0.197822
2          -0.140249      -0.058573      -0.247289      -0.110863
3          -0.237312       0.000377      -0.166300      -0.090535
4          -0.385347      -0.372753       0.156395       0.191043
...              ...            ...            ...            ...
28951      -0.296540      -0.159696      -0.163576      -0.091741
28952      -0.418689      -0.005251      -0.219879       0.018007
28953      -0.378923       0.017652      -0.237142      -0.041215
28954      -0.276223      -0.121937      -0.095757       0.077378
28955      -0.533524       0.014227      -0.062765      -0.049648

       96-100T_count  96-100W_count  96-100V_count  sim_ratio
0           0.203891      -0.510520       0.431877   0.086253
1           0.214286      -0.442623       0.014925   0.082278
2           0.333557      -0.636214       0.194272   0.060721
3           0.428879      -0.411451       0.129403   0.122034
4           0.496224      -0.422317       0.350977   0.027009
...              ...            ...            ...        ...
28951       0.094059      -0.107972       0.305210   0.069085
28952       0.325099      -0.521904       0.266806   0.064128
28953       0.179925       0.070218       0.146351   0.126582
28954       0.301531      -0.685856       0.321165   0.083467
28955       0.315197       0.076659       0.244194   0.056437

[28956 rows x 341 columns]

In [74]:
with open('/Users/patricknaylor/Desktop/kaggle/kaggle-NOVO/data/col_7.csv', 'w') as f:
    for line in cor_columns:
        f.write(f'{line}\n')